<nav th:fragment = "nav" class="flex flex-wrap justify-center mt-[-20px] gap-4 bg-green-100 px-6 py-3 rounded shadow w-full md:w-auto">
	  <a th:href="@{/view/house}" class="px-8 py-2 mr-8 bg-green-600 text-white rounded hover:bg-green-700 transition font-semibold text-[20px]">
	    Houses
	  </a>
	  <a th:href="@{/view/flat}" class="px-8 py-2 ml-8 mr-8 bg-green-600 text-white rounded hover:bg-green-700 transition font-semibold text-[20px]">
	    Flats
	  </a>
	  <a th:href="@{/view/land}" class="px-8 py-2 ml-8 bg-green-600 text-white rounded hover:bg-green-700 transition font-semibold text-[20px]">
	    Lands
	  </a>
</nav>